<% layout("layouts/basic.ejs") %>
    <div class="col-6 offset-3">
        <form action="/login" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" placeholder="Enter username" name="username" required class="form-control">
                <div class="valid-feedback">
                    Looks Good
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="text" placeholder="password" name="password" required class="form-control">
            </div>
            <button type="submit" class="btn btn-success w-100">Login</button>
        </form>
    </div>